--extra-index-url https://download.pytorch.org/whl/cpu

flask
python-dotenv

langchain
langchain-community
langchain-pinecone
langchain-experimental
langchain-groq


pinecone[grpc]
pypdf

sentence-transformers==2.2.2
torch==2.1.2+cpu
