--extra-index-url https://download.pytorch.org/whl/cpu

flask
python-dotenv

langchain
langchain-community
langchain-pinecone
langchain-groq

pinecone[grpc]
pypdf

sentence-transformers==2.2.2
huggingface-hub==0.14.1
torch==2.5.1+cpu
